@media (max-width: 1200px)
  .container
    max-width: 960px
  .to-top
    display: none  
  .button
    &-order
      padding: 13px 25px 11px 25px
      margin-right: 12px
      text-transform: uppercase
      background-color: $button
      color: $secondary  
    &-primary
      padding: 13px 25px 10px 35px
      text-transform: uppercase
      font-size: 18px
      line-height: 25px
      transition: 0.1s 
  .books
    &__card
      max-width: 400px
    &-best
      display: flex
      flex-direction: column
    &__recommended
      max-width: 100%
    &__wrapper
      display: flex
      flex-direction: column
      margin-bottom: 80px  
      &-left
        width: 100%
    &__title
      &-right
        margin-top: 30px      
    &__top
      width: 100%  
      &-item
        display: flex
        flex-wrap: wrap
        justify-content: space-between  
  .line
    max-width: 960px    
    margin: auto
    margin-bottom: 50px
  .button
    &-more
      flex-basis: 80%
      padding: 13px 150px 17px 150px
    &-best 
      padding: 0 80px 24px 85px 
 
  .card
    &-photo
      width: 117px
      height: 180px
      margin: 20px 12px 0 10px
    &-title
      margin: 20px 0 10px 0
    &-name
      margin-right: 5px     
      
  .item
    &-blog
      &__wrapper
        &-image
          width: 220px
          height: 130px
          border-radius: 8px
          overflow: hidden 
          margin-right: 14px 
  .slide
    &-item
      width:        
  .category
    &-slider
      &__item 
        width: 220px   
        height: 230px 
      &__icon
        margin-top: 20px  
      &__title
        margin-top: 23px   
        margin-left: 0
        font-size: 20px
        line-height: 30px
      &__text
        font-size: 15px
        line-height: 21px
      &__button
        width: 50px
        height: 50px
        top: 22% 
        &--next
          right: 2px
        &--prev
          left: 2px  
  .story
    &-row
      &__wrapper
        width: 273px
    &__container
      padding: 0 50px
  .article
    &__title
      margin-right: 10px
    &__text
      margin-right: 10px
  .articles  
    &__block
      &-left
        margin-top: 10px
  .offer
    &__title
      margin-right: 20px 
    &__form
      width: 400px                       
  .footer
    &__grid
      grid-template-columns: repeat(5, 1fr ) 
      grid-gap: 15px
    &__title
      margin-bottom: 20px
    &__item
      margin-bottom: 15px    


    

@media (max-width: 992px)
  a, button
    &:hover
      cursor: default
  .container
    max-width: 85%
  .header
    &-bottom
      margin-top: 50px
      &__text
        width: 55%
        margin-top: 0
      &__book
        width: 45%
        padding: 50px 20px 25px
        display: flex
        justify-content: center  
        align-items: center
  .books
    &__card
      width: 48%
    &__img
      width: 160px
      margin: 8px 15px 8px 5px
  .card
    &-name
      font-size: 20px
      line-height: 28px
    &-price
      font-size: 18px
      line-height: 26px   
    &-button
      padding: 5px 12px
      font-size: 14px
      line-height: 20px       
  .bookname
    width: 91%
    margin-bottom: 23px 
    font-size: 42px
    line-height: 54px
  .info
    font-size: 16px
    line-height: 22px
    margin-bottom: 35px
    margin-right: 19px   
  .buttons
    display: flex
    flex-direction: column
    justify-content: start  
  .button
    &-order
      max-width: 235px
      margin-bottom: 15px
      padding: 17px 35px 15px 35px
    &-primary
      max-width: 235px
  .category
    &-slider
      &__icon
        width: 57px
        height: 57px
      &__title
        font-size: 18px 
      &__text
        font-size: 14px   
      &__item
        width: 205px  
  .unreleased   
    &-container 
      padding-left: 0
    &-slider
      &__image
        width: 200px        
          
  .story
    &-row
      &--last
        display: none
      &__wrapper  
        width: 500px
    &__container
      padding: 0
    &-info
      flex-direction: column
      &__title
        font-size: 42px
        line-height: 52px
        margin-bottom: 15px
      &__text
        max-width: 65%
        margin: 0 0 15px 0 
        font-size: 16px
        line-height: 30px
    &__play
      justify-content: space-between 
    &__back
      &-second
        width: 500px   


  .partner
    &__container
      width: 80%
      padding: 56px 0 96px 40px
    &__grid
      grid-template-columns: repeat(4, 1fr)  
      grid-template-rows: repeat(4, minmax(40px, min-content))
    &__text
      grid-column: span 4
      margin: 0
    &__image
      display: block 
    &__title
      font-size: 22px  
  .articles
    &__block
      &-wrapper
        flex-basis: 100% 
      &-left
        width: 100%
  .article  
    &__img
      &-wrapper    
        width: 100% 
    &__text
      margin-bottom: 15px
      margin-left: 0
      font-size: 16px     
  .blog
    &__title
      font-size: 42px
    &__articles
      &-wrapper
        flex-direction: column
              
  .item
    &-blog
      &__date
        font-size: 14px
        line-height: 18px   
      &__link
        font-size: 14px
        line-height: 18px
      &__wrapper
        &-image
          width: 48%        
          height: 150px 
        &-text
          width: 47% 
  .offer
    &__wrapper
      flex-direction: column
    &__title
      display: block
      max-width: 600px
      font-size: 28px
      margin-bottom: 0
    &__form
      width: 75%
      margin-top: 23px                    
  
  .footer
    &__grid
      grid-template-columns: repeat(4, 1fr)  
    &__create
      grid-column: 1 / 5
      order: 2
    &__bottom
      order: 3  
  .create
    display: flex
    flex-direction: column
    align-items: center 
    &__text
      width: 65%          



@media (max-width: 767px)
  .container
    max-width: 576px
    width: 87%



@media (max-width: 576px)
  .navbar
    &__bottom
      top: 50px